@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-baloo: "Baloo 2", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Baloo 2', sans-serif;

}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scroll-horizontal {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -600px 0;  /* Adjust the distance to fit the pattern width */
  }
}
@keyframes scroll-horizontal {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -600px 0;  /* Adjust the distance for a seamless scroll */
  }
}

.animate-scroll-bg {
  animation: scroll-horizontal 35s linear infinite;
}



.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}
.clip-bottom {
  clip-path: ellipse(100% 30% at 50% 100%);
}
.shadow-xl {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

button:hover {
  transition: transform 0.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.bg-scroll {
  background-attachment: fixed;
}


/* Default button shadow */
.shadow-button {
  -webkit-box-shadow: 10px 10px 0px 3px rgba(223, 190, 49, 1);
  -moz-box-shadow: 10px 10px 0px 3px rgba(223, 190, 49, 1);
  box-shadow: 10px 10px 0px 3px rgba(223, 190, 49, 1);
}

/* Hover shadow and background effect */
.hover\:shadow-button-hover:hover {
  -webkit-box-shadow: 10px 10px 0px 3px rgba(55, 210, 129, 1);
  -moz-box-shadow: 10px 10px 0px 3px rgba(55, 210, 129, 1);
  box-shadow: 10px 10px 0px 3px rgba(55, 210, 129, 1);
  background-color: #49b9f5;
  box-shadow: #171717;
}
